@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme{
    --font-sans: 'Inter', sans-serif;
    --font-heading: 'Montserrat', sans-serif;
    --color-primary: #0b727b;
}

@layer base{
    .html{
        scroll-behavior: smooth;
    }
    .font-heading {
        font-family: var(--font-heading);
    }

    /* *{
        outline:2px solid red;
    } */

}
@layer components{
    .text-primary {
        color: var(--color-primary);
    }
}

